<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<section th:replace="fragments/theme/head :: head(Login)"></section>
	<body>
		<section th:replace="fragments/theme/nav :: nav(Login)"></section>
		<section th:replace="fragments/tech/preload_images"></section>
	
		<div class="single">
			<div class="container">
				<!-- Success Messages -->
				<div class="alert alert-dismissable alert-success"
					th:if="${not #strings.isEmpty(status)}">
					<p th:text="${status}">|Login Status|</p>
				</div>
	
				<!-- Error Messages -->
				<div class="alert alert-dismissable alert-danger bad-login"
					th:if="${errors != null and not #lists.isEmpty(errors)}">
					<!--/*/ <th:block data-th-each="error : ${errors}"> /*/-->
					<p th:text="${error.message}">|Error message here.|</p>
					<!--/*/ </th:block> /*/-->
				</div>
	
				<div class="form-container">
					<div class="col-md-8 form-col-left">
						<form method="post" role="form">
						
							<!-- Fields -->
							<div th:each="field : ${form.fields}">
								<th:block th:if="${field.type == 'hidden'}">
									<input th:name="${field.name}" th:value="${field.value}"
										th:type="${field.type}"/>
								</th:block>
								<th:block th:if="${field.type != 'hidden'}">
									<h4 th:text="${field.label}">|Field label|</h4>
									<input th:name="${field.name}"
										th:value="${field.value}"
										th:placeholder="${field.placeholder}"
										th:required="${field.required}"
										th:type="${field.type}" 
										formnovalidate="true" />
								</th:block>
							</div>
							
							<!-- Submit Button -->
							<div>
								<h1>
									<button type="submit" class="label label-default"
										th:text="#{stormpath.web.login.form.button.value}">|Login|
									</button>
								</h1>
							</div>
							
						</form>
					</div>
					
				</div>
			</div>
		</div>
	
	</body>
</html>