<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<section th:replace="fragments/theme/head :: head(Register)"></section>
	<body>
		<section th:replace="fragments/theme/nav :: nav(Register)"></section>
	
		<div class="single">
			<div class="container">
				<!-- Success Messages -->
				<div class="alert alert-dismissable alert-success"
					th:if="${not #strings.isEmpty(status)}">
					<p th:text="${status}">|Register Status|</p>
				</div>
	
				<!-- Error Messages -->
				<div class="alert alert-dismissable alert-danger bad-login"
					th:if="${errors != null and not #lists.isEmpty(errors)}">
					<th:block data-th-each="error : ${errors}">
						<p th:text="${error}">|Error message here.|</p>
					</th:block>
				</div>
	
				<div class="row">
					<div class="col-md-8 form-col-left">
					
						<form method="post" th:action="@{/register}" role="form" th:object="${stormpathAccountValidator}">
						
							<!-- Fields -->
							<div th:each="field : ${visibleFields}" th:with="fieldName = __${field.name}__">
								<h4 th:text="${field.label}">|Field label|</h4>
								<input th:name="${field.name}"
									th:field="*{__${fieldName}__}"
									th:placeholder="${field.placeholder}"
									th:required="${field.required}" 
									th:type="${field.type}"
									th:classappend="${field.name == 'password'} ? input-hint-enabled : noextra" />
								<div th:if="${field.name == 'password'}" class="input-hint">* Password must be at least 8 characters and include one capital letter and one number.</div>
							</div>
	
							<!-- Submit Button -->
							<div>
								<h1>
									<button type="submit" class="label label-default">Create Account</button>
								</h1>
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>