<section th:fragment="tips">

	<div class="single">
		<div class="container">
			<h2>Getting Started</h2>
			<p class="dolor">Create a character, join a party, and start playing!</p>
			<div class="w3l_services_grids">
			
				<div class="col-md-4 w3l_services_grid">
					<center>
						<div class="hover15 column">
							<div>
								<figure>
									<img th:if="${characters == null or #lists.isEmpty(characters)}" th:src="@{img/numbers/one.png}" style="height: 200px; width: 200px;" class="img-responsive" />
									<img th:if="${characters != null and not #lists.isEmpty(characters)}" th:src="@{img/numbers/checkmark.png}" style="height: 200px; width: 200px;" class="img-responsive" />
								</figure>
							</div>
						</div>
						<h4>
							<a href="#">Create a Character</a>
						</h4>
					</center>
				</div>
				
				<div class="col-md-4 w3l_services_grid">
					<center>
						<div class="hover15 column">
							<div>
								<figure>
									<img th:src="@{img/numbers/two.png}" style="height: 200px; width: 200px;" class="img-responsive" />
								</figure>
							</div>
						</div>
						<h4>
							<a href="#">Join a Party</a>
						</h4>
					</center>
				</div>
				
				<div class="col-md-4 w3l_services_grid">
					<center>
						<div class="hover15 column">
							<div>
								<figure>
									<img th:src="@{img/numbers/three.png}" style="height: 200px; width: 200px;" class="img-responsive" />
								</figure>
							</div>
						</div>
						<h4>
							<a href="#">Manage your Character Sheet</a>
						</h4>
					</center>
				</div>
				
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</section>