<section th:fragment="welcome">

	<div class="single">
		<div class="container">
			<!-- Success Messages -->
			<div class="alert alert-dismissable alert-success"
				th:if="${not #strings.isEmpty(status)}">
				<p th:text="${status}">|Login Status|</p>
			</div>
			
			<div class="alert alert-dismissable alert-warning" th:if="${isHttp}">
				<p>
					Doctors Without Guitars currently does not support HTTP. Please
					navigate to <a href="https://doctors-without-guitars.herokuapp.com/">https://doctors-without-guitars.herokuapp.com/</a>.
				</p>
			</div>
		
			<h2>Doctors without Guitars</h2>
			<p class="dolor">is a Pathfinder management system.</p>
			<div class="about-grids">
				<div class="col-md-6 about-grid about-one">
					<div class="about-grid-left">
						<h4>Skill Checks</h4>
						<p>Keep track of skill modifiers with a simple user interface.</p>
					</div>
					<div class="about-grid-right">
						<span class="mdi mdi-dice-d20" aria-hidden="true"></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 about-grid about-one">
					<div class="about-grid-right aliquam">
						<span class="mdi mdi-account-card-details" aria-hidden="true"></span>
					</div>
					<div class="about-grid-left non">
						<h4>Character Sheets</h4>
						<p>Manage your character sheet online without having to deal with PDFs.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="about-grids">
				<div class="col-md-6 about-grid">
					<div class="about-grid-left">
						<h4>Maps</h4>
						<p>Document your party's campaign on an interactive map.</p>
					</div>
					<div class="about-grid-right">
						<span class="mdi mdi-map" aria-hidden="true"></span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-6 about-grid">
					<div class="about-grid-right aliquam">
						<span class="mdi mdi-dice-d4" aria-hidden="true"></span>
					</div>
					<div class="about-grid-left non">
						<h4>Attack Modifiers</h4>
						<p>Activate buffs and calculate attack and damage modifiers with a click of a button.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

</section>