/* Ellipsis for Speech Bubble */

.loading:after {
  animation         : ellipsis steps(4,end) 900ms infinite;
  content           : "\2026"; /* ascii code for the ellipsis character */
  display           : inline-block;
  overflow          : hidden;
  vertical-align    : bottom;
  width             : 0px;
  -webkit-animation : ellipsis steps(4,end) 900ms infinite;      
}

/* For legacy browsers. */
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}