<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<section th:replace="fragments/theme/head :: head('Edit Character')"></section>
	<head>
		<!-- Page-specific JS -->
		<script th:src="@{js/character-page.js}"></script>
	</head>
	<body>
		<section th:replace="fragments/theme/nav('Edit Character')"></section>
	
		<div class="single">
			<div class="container">
			
				<!-- Error Messages -->
				<div class="alert alert-dismissable alert-danger bad-login"
					th:if="${errors != null and not #lists.isEmpty(errors)}">
					<th:block data-th-each="error : ${errors}">
						<p th:text="${error}">|Error message here.|</p>
					</th:block>
				</div>
	
				<div class="row">
					<div class="col-md-6 col-md-offset-2"> <!-- Half the whole page. -->
						<div class="col-md-6 portrait-column"> <!-- Half of the half. -->
							<div class="portrait-container">
								<!-- Character Portrait -->
								<div class="shine-on-hover column">
									<figure>
										<img id="characterPortrait" th:src="${character?.image}" class="img-responsive portrait" />
									</figure>
								</div>
					
								<!-- Character Class -->
								<div class="portrait-label">
									<h4><span id="classLabel" th:text="${character?.charClass?.name}"></span></h4>
								</div>			
							</div>
							
							<div class="portrait-element">
								<h1>
									<button id="saveBtn" type="submit" onclick="postForm('#saveForm');" class="label label-default">Save Character</button>
								</h1>
							</div>
							
							<div class="portrait-element">
								<h1>
									<button id="cancelBtn" type="submit" onclick="returnToCharacterSelect();" class="label label-default">Cancel</button>
								</h1>
							</div>
						</div>
					</div>
					
	
					<div class="col-md-4 character-info">
						<!-- Character Info -->
						<form id="saveForm" method="post" th:action="'/editCharacter?id=' + ${character?.id}" th:object="${characterValidator}">
							<div class="row">
								<input id="name" name="name" th:value="${character?.name}" th:placeholder="${character?.name}" class="long-input" />
							</div>
	
							<div class="row lower">
								<select id="raceId" name="raceId" class="long-input">
									<option th:each="race,iter : ${raceList}"
											th:value="${iter.index}" th:text="${race}" 
											th:selected="${iter.index == character?.race?.id}"/>
								</select>
							</div>
	
							<div class="row lower">
								<select id="classId" name="classId" class="long-input">
									<option th:each="cls,iter : ${classList}"
											th:value="${iter.index}" th:text="${cls}"
											th:selected="${iter.index == character?.charClass?.id}" />
								</select>
							</div>
							
							<div class="row lower">
								<select id="size" name="size" class="long-input">
									<option th:each="size,iter : ${sizeList}"
											th:value="${iter.index}" th:text="${size}"
											th:selected="${iter.index == character?.size?.id}" />
								</select>
							</div>
							
							<input id="image" name="image" type="hidden" th:value="${character?.image}"  />
						</form>
					</div>
				</div>
	
				<section th:replace="fragments/ui/character/choose_portrait"></section>
			</div>
		</div>
	
	</body>
</html>