<section th:fragment="choose_portrait">

	<div class="container">
		<div id="portraits" class="tab-content" style="margin-top: 5em;">
		
			<div th:each="i : ${#numbers.sequence(1, 20)}" class="portrait-option upper">
				<a class="jzBoxLink hand-cursor">
					<img th:src="${'img/portraits/' + i + '.png'}" class="img-responsive"></img>
				</a>
			</div>

		</div>
	</div>

	<script>
		$(document).ready(function() {
			$('.img-responsive').each(function() {
				$(this).error(function() {
					$(this).hide();
				});
			});
		});
	</script>
</section>