<div th:fragment="properties_table" class="col-md-12">
	<table class="table table-hover lower">
		<thead>
			<tr>
				<th>Property Name</th>
				<th>Property Value</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Hit Die</td>
				<td id="hitDie" th:if="${editMode == false}" th:text="${character?.charSheet?.hitDie}"></td>
				<td th:if="${editMode == true}">
					<input id="hitDie" name="hitDie" th:value="${character?.charSheet?.hitDie}" />
				</td>
			</tr>
			
			<tr th:if="${editMode == true}">
				<td>Hit Points</td>
				<td>
					<input id="currentHp" name="currentHp" th:value="${character?.charSheet?.currentHp}" />
				</td>
			</tr>
			
			<tr th:if="${editMode == true}">
				<td>Max Hit Points</td>
				<td th:if="${editMode == true}">
					<input id="maxHp" name="maxHp" th:value="${character?.charSheet?.maxHp}" />
				</td>
			</tr>
			
			<tr>
				<td>Size Mod</td>
				<td id="sizeMod" th:text="${character?.size?.value}"></td>
			</tr>
		</tbody>
	</table>
</div>