<section th:fragment="stats_table(classes)">
	<div th:classappend="${classes}">
		<table class="table table-hover lower">
			<thead>
				<tr>
					<th>Attribute</th>
					<th th:if="${editMode == true}">Base Value</th>
					<th th:if="${editMode == true}">Enhancement Value</th>
					<th id="totalHeader" th:if="${editMode == false}">Total Value</th>
					<th>Mod</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:with="strTotal = ${(character?.charSheet?.strengthBase) + (character?.charSheet?.strengthEnhance)}">
					<td><span data-toggle="tooltip" title="Melee attacks.">Strength</span></td>
					<td id="strTotal" th:if="${editMode == false}" th:text="${strTotal}"></td>
					<td id="strBase" th:if="${editMode == true}"><input th:field="*{strengthBase}" th:placeholder="${character?.charSheet?.strengthBase}" /></td>
					<td id="strEnhance" th:if="${editMode == true}"><input th:field="*{strengthEnhance}" th:placeholder="${character?.charSheet?.strengthEnhance}" /></td>
					<td name="strMod"></td>
				</tr>
				<tr th:with="dexTotal = ${(character?.charSheet?.dexterityBase) + (character?.charSheet?.dexterityEnhance)}">
					<td><span data-toggle="tooltip" title="Ranged Attacks and Armor Class">Dexterity</span></td>
					<td id="dexTotal" th:if="${editMode == false}" th:text="${dexTotal}"></td>
					<td id="dexBase" th:if="${editMode == true}"><input th:field="*{dexterityBase}" th:placeholder="${character?.charSheet?.dexterityBase}" /></td>
					<td id="dexEnhance" th:if="${editMode == true}"><input th:field="*{dexterityEnhance}" th:placeholder="${character?.charSheet?.dexterityEnhance}" /></td>
					<td name="dexMod"></td>
				</tr>
				<tr th:with="conTotal = ${(character?.charSheet?.constitutionBase) + (character?.charSheet?.constitutionEnhance)}">
					<td><span data-toggle="tooltip" title="Health">Constitution</span></td>
					<td id="conTotal" th:if="${editMode == false}" th:text="${conTotal}"></td>
					<td id="conBase" th:if="${editMode == true}"><input th:field="*{constitutionBase}" th:placeholder="${character?.charSheet?.constitutionBase}" /></td>
					<td id="conEnhance" th:if="${editMode == true}"><input th:field="*{constitutionEnhance}" th:placeholder="${character?.charSheet?.constitutionEnhance}" /></td>
					<td name="conMod"></td>
				</tr>
				<tr th:with="intTotal = ${(character?.charSheet?.intelligenceBase) + (character?.charSheet?.intelligenceEnhance)}">
					<td><span data-toggle="tooltip" title="Skill Points">Intelligence</span></td>
					<td id="intTotal" th:if="${editMode == false}" th:text="${intTotal}"></td>
					<td id="intBase" th:if="${editMode == true}"><input th:field="*{intelligenceBase}" th:placeholder="${character?.charSheet?.intelligenceBase}" /></td>
					<td id="intEnhance" th:if="${editMode == true}"><input th:field="*{intelligenceEnhance}" th:placeholder="${character?.charSheet?.intelligenceEnhance}" /></td>
					<td name="intMod"></td>
				</tr>
				<tr th:with="wisTotal = ${(character?.charSheet?.wisdomBase) + (character?.charSheet?.wisdomEnhance)}">
					<td><span data-toggle="tooltip" title="Spell Bonuses for Clerics and Druids">Wisdom</span></td>
					<td id="wisTotal" th:if="${editMode == false}" th:text="${wisTotal}"></td>
					<td id="wisBase" th:if="${editMode == true}"><input th:field="*{wisdomBase}" th:placeholder="${character?.charSheet?.wisdomBase}" /></td>
					<td id="wisEnhance" th:if="${editMode == true}"><input th:field="*{wisdomEnhance}" th:placeholder="${character?.charSheet?.wisdomEnhance}" /></td>
					<td name="wisMod"></td>
				</tr>
				<tr th:with="chaTotal = ${(character?.charSheet?.charismaBase) + (character?.charSheet?.charismaEnhance)}">
					<td><span data-toggle="tooltip" title="Social Interactions">Charisma</span></td>
					<td id="chaTotal" th:if="${editMode == false}" th:text="${chaTotal}"></td>
					<td id="chaBase" th:if="${editMode == true}"><input th:field="*{charismaBase}" th:placeholder="${character?.charSheet?.charismaBase}" /></td>
					<td id="chaEnhance" th:if="${editMode == true}"><input th:field="*{charismaEnhance}" th:placeholder="${character?.charSheet?.charismaEnhance}" /></td>
					<td name="chaMod"></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>