<section th:fragment="tips_combat_pane">

	<!-- Combat Pane -->
	<div th:if="${editMode == false}" class="row pane">
		<div class="col-md-1 pane-btn">
			<h1>
				<button class="label label-default" onclick="showPane('#combatPane');">
					Combat
				</button>
			</h1>
		</div>
		
		<div id="combatPane" class="col-md-11">
			<ul class="list-group pane-steps">
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							<label>1.</label>
						</div>
						<div class="col-md-3">
							<span data-toggle="tooltip" title="1d20 + Dex Mod">Roll Initiative!</span>
						</div>
						<div class="col-md-8">
							1d20 <span name="dexMod"></span> (DEX Mod)
						</div>
					</div>
				</li>
				
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							<label>2.</label>
						</div>
						<div class="col-md-3">
							Consider your weapon.
						</div>
						<div class="col-md-3">
							Is this a ranged attack?
						</div>
						<div class="col-md-5">
							<input id="rangeChk" class="pane-chkBox" type="checkbox" onclick="toggleRanged();" value="" />
						</div>
					</div>
				</li>
				
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							<label>3.</label>
						</div>
						<div class="col-md-3">
							Roll Attack!
						</div>
						<div class="col-md-8">
							<span id="rangeCombat"></span> <span name="bab"></span> (Base Attack Bonus)
						</div>
					</div>
				</li>
				
				<li class="list-group-item">
					<div class="row">
						<div class="col-md-1">
							<label>4.</label>
						</div>
						<div class="col-md-3">
							Roll Damage!
						</div>
						<div th:if="${isUnarmed}" class="col-md-8">
							<span th:text="${unarmedDamage} + ' (Unarmed) '"></span>
						</div>
						<div th:if="${!isUnarmed}" class="col-md-8">
							<span th:text="${character?.weapon?.damage}"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

</section>